/*
    Document   : mainï¼Žcss
    Created on : 2014-08-18 11:11 AM
    Author     : fmay
    Description: making things prettier
    Purpose of the stylesheet follows.
*/

body {
  background-image: url('img/lamb.jpg'); 
  color: #ffffff;
  font: 8px 'verdana';
}

h1 {
  font: 32px 'Courier';
}

h2 {
  font-size: 20px;
  padding-top: 28px;
}

p {
  font-size: 14px;
  margin: 10px 0 0 10px;
  line-height: 8px;
}