/*
    Document   : main．css
    Created on : 2014-08-18 11:11 AM
    Author     : fmay
    Description: making things prettier
    Purpose of the stylesheet follows.
*/

/* Empty can be scary!!! */



